<% if (!index && post.comments) { %>
    <!-- UY BEGIN -->
    <section id="comments">
        <div id="uyan_frame"></div>
        <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2140501"></script>
    </section>
    <!-- UY END -->
<% } %>